.card-header,
.card-footer {
  background-color: rgb(30, 141, 251);
  color: white;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  font-size: small;
}

label {
  color: blue;
  font-weight: bold;
}



#modalLogin {
  z-index: 11;
  position: absolute;
  width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 300px;
}
main{
  height: 187px;
}


